<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/styleIndex.css">
</head>

<body>
    <div class="task-container">
        <button class="create-btn">Criar Tarefa</button>
        <% tasks.forEach(task => { %>
            <div class="task">
                <div class="task-info">
                    <p class="task-title"><%= task.title %></p>
                    <p class="task-desc"><%= task.desc %></p>
                    <p class="task-status <%= task.done === 1 ? 'done' : 'not-done' %>">
                        <strong>Status:</strong> <%= task.done === 1 ? 'Feita' : 'Não Feita' %>
                    </p>
                    <p class="task-date"><strong>Data:</strong> <%= task.dueDate %></p>
                    <p class="task-priority"><strong>Prioridade:</strong> <%= task.priority %></p>
                </div>
                <div class="task-actions">
                    <button class="view-btn">Visualizar</button>
                    <button onclick="edit('<%= task._id %>')" class="edit-btn">Editar</button>
                    <button onclick="del('<%= task._id %>')" class="delete-btn">Deletar</button>
                </div>
            </div>
        <% }) %>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to delete this task?</p>
            <button id="confirmDelete" class="delete-btn">Yes, delete</button>
            <button id="cancelDelete" class="cancel-btn">Cancel</button>
        </div>
    </div>
</body>

<script>
    const botaoCriar = document.getElementsByClassName('create-btn')[0];
    const modal = document.getElementById("myModal");
    const cancelDel = document.getElementById("cancelDelete");
    const confirmDelete = document.getElementById("confirmDelete");
    let dates = document.getElementsByClassName("task-date");
    let data;
    let idTaskDelete;

    cancelDel.addEventListener("click", () => {
        modal.style.visibility = 'hidden';
    });

    confirmDelete.addEventListener("click", () => {
        fetch("/delete", {
            method: "DELETE",
            body: JSON.stringify({
                id: idTaskDelete
            }),
            headers: { "Content-type": "application/json; charset=UTF-8" }
        })
            .then((response) => response.json())
            .then((json) => {
                console.log(json);
                location.reload();
            });
    });

    botaoCriar.addEventListener("click", () => {
        window.location.replace("/create");
    });

    function edit(id) {
        window.location.replace("/edit/" + id);
        return;
    }

    function del(idTask) {
        modal.style.visibility = 'visible';
        idTaskDelete = idTask;
    }
</script>

</html>
